@import url('https://fonts.googleapis.com/css?family=Paytone+One');
.jumbotron {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.display-3 {
    font-family: 'Pontano Sans', sans-serif;
}   

button {
    margin-bottom: 15px;
    display: block;
}

