
.area {
    text-align: center;
    background-color: rgba(196, 232, 235, 0.5);
    margin-top: 30px;
}

.jumbotron {
    background-color: transparent;
}

.display-3 {
    font-family: 'Pontano Sans', sans-serif;
}   

button {
    margin-bottom: 15px;
    display: block;
}